@import "tailwindcss";

:root {
  font-family: 'Outfit', sans-serif;
  --white: #EFEFEF;
  
  --sky-bg: #489EFF;
  --sky-grad: #FFC28C;
  --hover: #FFDDBF;
  --background: #1A3656;
  --title: #1A3656;
  --contrast: #89ceb7;
  --wave: #489EFF;
  --wave-two: #2F5792;
}

html { 
  scroll-behavior: auto; 
  background-color: var(--background);
}

.title {
  color: var(--white);
  text-shadow:
    -1px -1px 0 var(--title),
     0px -1px 0 var(--title),
     1px -1px 0 var(--title),
    -1px  0px 0 var(--title),
     1px  0px 0 var(--title),
    -1px  1px 0 var(--title),
     0px  1px 0 var(--title),
     1px  1px 0 var(--title),

    0px 2px 0 var(--title),
    0px 3px 0 var(--title),
    0px 4px 0 var(--title),
    0px 5px 0 var(--title),
    0px 6px 0 var(--title),
    0px 7px 0 var(--title),

    0px 8px 12px rgba(0, 0, 0, 0.20);
}