@import "tailwindcss";

:root {
  font-family: 'Outfit', sans-serif;
  --white: #EFEFEF;
}

html { 
  scroll-behavior: auto; 
  background-color: var(--bg-three);
}

.title {
  text-shadow:
    0px 1px 0px var(--bg-three),
    0px 2px 0px var(--bg-three),
    0px 3px 0px var(--bg-three),
    0px 4px 0px var(--bg-three),
    0px 5px 0px var(--bg-three),
    0px 6px 0px var(--bg-three),
    0px 7px 0px var(--bg-three);
}
